<p><input type="text" [(ngModel)]="imgParent"></p>
<app-img [imagen]="imgParent"></app-img>



<!--#############################################-->
<!-------------- STRING INTERPOLATION ------------->
<br><br><br><br>
<hr><hr><hr>
<h1>01 STRING INTERPOLATION</h1>
<hr>
<h1>Hola mundo</h1>
<h2>Hola, soy {{ name1 }} y tengo {{ age1 }}</h2>
<p> 3 + 3 = {{ 3 + 3 }}</p>
<img width="200px" src={{img}} alt="image">



<!--#############################################-->
<!-------------- 02 PROPERTY BINDING ------------->
<hr>
<h1>02 PROPERTY BINDING</h1>
<hr>
<button [disabled]="btnDisable">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" alt="image">
<hr><br><hr>



<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password"  name="password" required id="password" [(ngModel)]="register.password">
    <p>Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>



<br><br>
<hr><hr>
<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
  />
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div [ngStyle]="{
    'width.px': box.width,
    'height.px': box.height,
    'background-color': box.background,
    'display': 'block'
  }"></div>
</div>

<hr>
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar">
  </div>
</div>

<hr>
<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name"   />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">
    La persona es nicolas
  </p>
  <p *ngSwitchCase="'Kevin'">
    La persona es Kevin
  </p>
  <p *ngSwitchCase="'Naomy'">
    La persona es Naomy
  </p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<!--<p *ngIf="person.name === 'nicolas'">
  La persona es nicolas
</p>

<p *ngIf="person.name === 'Kevin'">
  La persona es Kevin
</p>

<p *ngIf="person.name === 'Naomy'">
  La persona es Naomy
</p>
-->


<hr>
<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name}} </p>
  </div>
</div>


<hr>
<h1>Practica de lista de Array</h1>
<input type="text" required [(ngModel)]="newMovie">
<button (click)="addMovie()">Add Movie</button>
<ul>
  <li *ngIf="movies.length === 0">No hay Peliculas</li>
  <li *ngFor="let movie of movies; index as i">
    {{i}} {{ movie }}
    <button (click)="deleteMovie(i)">Delete Movie</button>
  </li>
</ul>

<hr>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr>
<h1>ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Naomy'">Soy Naomy</p>
<p *ngIf="person.name === 'Kevin' && person.age === 30; else elseBlock">Soy Kevin</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>

<hr>
<h1>NgModel</h1>
<p> Nombre {{ person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid : {{ nameInput.valid }}</p>
<input type="number" max="18"  min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p> Nombre {{ person.age}}</p>
<p>Valid : {{ ageInput.valid }}</p>

<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisable">Enviar</button>
<button (click)="toogleButton()">Activar boton</button>
<p>Edad {{ person.age}}</p>
<button (click)="ageIncrease()">Age ++</button>
<button (click)="ageDecrease()">Age --</button>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat illo, excepturi ea quibusdam earum pariatur veniam minima nesciunt dolorum voluptates repudiandae natus, laboriosam illum at unde sunt voluptate voluptatibus consectetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorem natus ex enim? Dicta inventore asperiores eum quis provident labore doloribus ex odit tempore. Modi expedita voluptatum debitis possimus vitae.</p>
</div>

<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p> Nombre {{ person.name}}</p>






